
<html >
<head>
  <meta charset="utf-8">
    <title>Korex StyleHub</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Korex StyleHub" name="keywords">
    <meta content="Korex StyleHub" name="description">

    <!-- Favicon -->
    <link href="img/logo.PNG" rel="icon">
  <link href="css/spin.css" rel="stylesheet">   
</head>

<body>

  <div class="loading-state">
    <div class="loading"></div>
  </div>
  
<script type="text/javascript">
    setTimeout(function() {
        window.location = "/index";
   }, 2000);
 </script> 

</div>
 


</body>
</html>

