<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Korex StyleHub</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Korex StyleHub" name="keywords" />
    <meta content="Korex StyleHub" name="description" />

    <!-- Favicon -->
    <link href="../../img/logo.PNG" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="../../lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/landingPage.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navbar Start -->
    <%- include (`../../partials/authHeader`); -%>
    <!-- Navbar End -->

    <div class="login-page">
      <div class="form">
        <form
          id="forgetPasswordForm"
          class="login-form"
          action="/auth/user/forgetPasswordPost"
          method="post"
        >
          <div class="colors" style="text-align: center">
            Recover My Password
          </div>

          <% if (errorMessage) { %>
          <div class="alert alert-danger"><%= errorMessage %></div>
          <% } %>

          <input
            type="email"
            name="userEmail"
            placeholder="Enter your email"
            autocomplete="off"
            required
          />
          <div id="message"></div>
          <button type="submit">Recover My Password</button>

          <p class="message"><a href="/auth/user/login">Oh I remembered!</a></p>

          <!-- Include animation elements here -->
          <ul class="animate">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </form>
      </div>
    </div>

    <script>
      document
        .getElementById('forgetPasswordForm')
        .addEventListener('submit', async (event) => {
          event.preventDefault();

          const userEmail = document.getElementsByName('userEmail')[0].value;

          try {
            const response = await fetch('/auth/user/forgetPasswordPost', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ userEmail }), // Pass the email in the request body
            });

            const responseData = await response.json();

            if (response.ok) {
              // If the response indicates success, redirect to the login page with a success message
              const successMessage = encodeURIComponent(responseData.message);
              window.location.href = `/auth/user/login?successMessage=${successMessage}`;
            } else {
              // If the response indicates an error, display the error message from the server
              displayMessage(responseData.message, 'error');
            }
          } catch (error) {
            console.error('Error:', error);
            displayMessage(
              'An error occurred. Please try again later.',
              'error'
            );
          }
        });

      function displayMessage(message, type) {
        const messageElement = document.getElementById('message');
        messageElement.textContent = message;
        messageElement.className = type;
      }
    </script>

    <!-- Footer Start -->
    <%- include (`../../partials/authFooter`); -%>
    <!-- Footer End -->
  </body>
</html>
