<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Korex StyleHub</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Korex StyleHub" name="keywords">
    <meta content="Korex StyleHub" name="description">

    <!-- Favicon -->
    <link href="../../img/logo.PNG" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/landingPage.css" rel="stylesheet">

</head>

<body>

 <!-- Navbar Start -->
 <%- include (`../../partials/authHeader`); -%>
 <!-- Navbar End -->


<div class="login-page">
    <div class="form">
        <form id="merchantLoginForm" class="login-form" action="/auth/merchant/merchantLoginPost" method="post">
            <h3 class="colors" style="text-align: center;">Merchant Login </h3>
  
                <!-- display success message -->
                <div class="colors" id="successMessageContainer"></div>
                <% if (authErrorMessage) { %>
                    <div class="colors" style="text-align: center;">
                        <%= authErrorMessage %>
                    </div>
                <% } %>

            <input type="text" name="merchantUsername" placeholder="Username" autocomplete="off" required/>

            <input id="password-field" type="password" name="merchantPassword" placeholder="Password" autocomplete="off" required />
            <div id="message" class="error"></div>

      
            <button type="submit">SIGN IN</button>
            
            <p class="message"><a href="/auth/merchant/merchantForgetPassword">Forgot your password?</a></p>
            <p class="message"><a href="/auth/merchant/merchantRegistration">Dont have account register?</a></p>

            
            <!-- Include animation elements here -->
            <ul class="animate">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </form>
    </div>
</div>


    <!-- Footer Start -->
    <%- include (`../../partials/authFooter`); -%>
    <!-- Footer End -->



</body>

</html>



